body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #707070;
    background: white;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    overflow: auto;
}

#navlist {
    padding: 0;
    margin: 13px 0 0 150px;
    list-style: none;
}

#navlist li {
    float: right;
}

.logo img {
    position: absolute;
    margin top: 15px;
    margin left: 10px;
    display: flex;
    width: 50%;
    max-width: 600px;
}

#navlist a {
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #707070;
    text-align: center;
}

li {
    display: inline;
    list-style-type: none;
    padding-right: 80px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #707070;
    text-decoration-line: none;
    vertical-align: sub;
}

#navlist li.selected a {
    color: mediumturquoise;
    font-weight: 900;
}

#profile {
    max-width: 400px;
    max-height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    align-content: right;
    display: right;
}
.grid-container {
    display: grid;
    grid-template-areas: 
        'left right';
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 100px;
}
.grid-item {
    align-content: center;
}

p {
   text-align: left;
}

h1 {
    color: mediumturquoise;
    font-weight: 900px;
    text-align: left;
    padding-top: 40px;
    
}

.picture { grid-area: left; }

.bio { 
    grid-area: right;
    margin-right: 25px;
    margin-left: 75px;
}

footer {
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    float: right;
  }

#email {
    width: 40px;
    height: 40px;
}

#github {
    width: 40px;
    height: 40px;
}

#linkedin {
    width: 40px;
    height: 40px;
}

.facts {
    text-align: left;
}